html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-x: hidden;
}

.container {
    max-width: 1290px;
    padding: 0 15px;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    font-family: Inter;
    margin: 0;
}

span {
    font-family: Inter;
    margin: 0;
}

p {
    font-family: Inter;
    margin: 0;
}

a {
    font-family: Inter;
    text-decoration: none;
    color: #191919;
    font-weight: normal;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background: #F9F9F9;
}

.content {
    display: flex;
    flex: 1 1 auto;
    height: 100%;
    flex-direction: column;
}

.footer {
    flex: 1 1 auto;
}

ul {
    list-style-type: none;
    margin-top: 0;
    padding-inline-start: 0px;
    margin: 0;
}