.product-window {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 7;
    transform: translateY(-250%);
}

.product-window__card {
    width: 1070px;
    height: 680px;
    background: #FFFFFF;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 20px;
    position: relative;
    opacity: 0;
    transform: translateY(-150%);
    transition: 0.35s;
}

.product-window__card.active {
    transform: translateY(0);
    opacity: 100%;
}

.product-window.active {
    width: 100%;
    height: 100%;
    transform: translateY(0);
}

.product-window.active ~ .content {
    filter: blur(10px);
    overflow-y: hidden;
}

.product-window.active ~ .content::before {
    content: "";
    background: rgb(61, 61, 61, 0.50);
    z-index: 7;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: inset 0 0 100px rgb(61, 61, 61, 0.50);
}

.product-window__img {
    flex: 0 1 540px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-window__img img {
    width: 450px;
    height: 450px;
}

.product-window__material img {
    width: 40px;
    height: 35px;
}

.product-window__additives img {
    width: 40px;
    height: 35px;
}

.product-window__menu {
    flex: 1 1 auto;
}

.product-window__sticker {
    position: absolute;
    top: 40px;
    left: -6px;
    width: 82px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E23535;
    border-radius: 0 5px 5px 0;
}

.product-window__sticker span {
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    font-family: SF PRO;
}

.product-window__cross {
    position: absolute;
    top: 0;
    right: -45px;
    width: 32px;
    height: 32px;
}

.product-window__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-window__title h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #191919;
}

.product-window__title h3::before {
    content: "";
    padding: 16px 0 16px 40px;
    width: 24px;
    height: 24px;
    background: url(../../img/home-img/header-img/Fire.svg) center left no-repeat;
}

.product-window__material {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-window__material .product-window__img {
    background: #FFFFFF;  
    border: 1px solid #F0F0F0;
    box-sizing: border-box;
    border-radius: 12px;
    width: 105px;
    height: 105px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px 0 68px 0;
    text-align: center;
    position: relative;
}

.product-window__material .product-window__img p {
    position: absolute;
    bottom: -28px;
    font-size: 14px;
    line-height: 18px;
}

.product-window__material .product-window__img:nth-child(2) p {
    position: absolute;
    bottom: -46px;
    font-size: 14px;
    line-height: 18px;
}

.product-window__size {
    display: flex;
    flex-wrap: wrap;
}

.product-window__select {
    height: 48px;
    text-align: center;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-window__select span {
    font-size: 16px;
    line-height: 22px;
    font-family: SF PRO;
    font-weight: 500;
}

.product-window__select.active {
    background: #FF7010;
}

.product-window__select:nth-child(1) {
    flex: 0 1 240px;
    margin-bottom: 16px;
    color: #fff;
}

.product-window__select:nth-child(2) {
    flex: 0 1 240px;
    margin-bottom: 16px;
}

.product-window__select:nth-child(3) {
    flex: 0 1 159.09px;
}

.product-window__select:nth-child(4) {
    flex: 0 1 159.09px;
}

.product-window__select:nth-child(5) {
    flex: 0 1 159.09px;
}

.product-window__additives {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
    position: relative;
}

.product-window__additives .product-window__img {
    background: #FFFFFF;  
    border: 1px solid #F0F0F0;
    box-sizing: border-box;
    border-radius: 12px;
    width: 105px;
    height: 105px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px 0 68px 0;
    text-align: center;
    position: relative;
}

.product-window__additives .product-window__img p:nth-of-type(1) {
    font-size: 14px;
    line-height: 18px;
    color: #191919;
    position: absolute;
    bottom: -28px;
    font-weight: 400;
}

.product-window__additives .product-window__img p:nth-of-type(2) {
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    color: #FF7010;
    position: absolute;
    bottom: -50px;
    font-weight: 400;
}

.product-window__additives .product-window__title {
    position: absolute;
    top: -10px;
    left: 0;
}

.product-window__act {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

.product-window__total span {
    color: #FF7010;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    font-family: Inter;
}

.product-window__add {
    width: 155px;
    height: 48px;
    background: #FF7010;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-window__add a {
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    font-family: SF PRO;
}